{% macro displaySources_list(sources_list)%} 

{% for articles in articles_list %} 
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
               <h5 class="card-title">{{articles.source}}</h5>
               <p class="card-text">{{articles.author}}</p>
               <p class="card-text">{{articles.title}}</p>
               <p class="card-text">{{articles.url}}</p>
               <p class="card-text">{{articles.urlToImage}}</p>
               <p class="card-text">{{articles.publishedAt}}</p>
               <p class="card-text">{{articles.content}}</p>
               <a href="#" class="btn btn-primary">Hello There</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}  
{% endmacro%} 